@font-face {
    font-family: Karla;
    src: url(Karla-VariableFont_wght.ttf);
}

body {
    background-image: url("main_cover.png");
    background-size: cover;
    margin: auto;
    overflow: hidden;
}

.firstpage {
    display: flex; 
    line-height: 3em;
    overflow: hidden;
    width: 1550px;
    height: 800px;
    margin: auto;
}

.left-side { 
    align-items: center;
    justify-content: center;   
    width: 50%;
    display: flex;
    flex-direction: column;
}

.right-side { 
    margin-left: 0;
    width: 50%;
    background-color: #FFBF43;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.right-side img { 
    opacity: 5%;
}

.right-side .signupbtn {
    font-family: Karla;
    position: absolute;
    height: 35px;
    text-align: center;
    top: 60%; 
    left: 62%; 
    z-index: 1; 
    padding-left: 160px;
}

.signup{
    background-color: #FFDA93;
    color: black;
    font-family: Karla;
    font-weight: bold;
    font-size: 25px;
    border-radius: 50px;
    padding: 14px 20px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.3s;
}

.signup:hover {
    background-color: black;
    color: #FFDA93;
}


.firstpage .right-side .text {
    font-family: Karla;
    position: absolute;
    width: 521px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    padding: 6px 3px 1px 3px;
    top: 30%; 
    left: 60%; 
    z-index: 1;

}

.firstpage .right-side .text .new {

    font-size: 100px;
    font-weight: bold
}

.firstpage .right-side .text .sign {
    font-size: 35px;
}

.head {
    font-family: Karla;
    font-size: 50px;
    font-weight: bold;
}

.desc {
    font-family: Karla;
    font-size: 25px;
    padding-left: 90px;
}

.socials {
    display: flex;
    padding-left: 135px;
}

.social-icon {
    max-width: 80px;
    max-height: 50px;
}

.or {
    font-family: Karla;
    font-size: 20px;
}

input[type=text], select {
    font-family: Karla;
    font-size: 25px;
    font-weight: 300;
    background-color: #FFDA93;
    max-width: 495px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 50px;
    margin-top: 30px;
    width: 100%;
    display: inline-block;
}

/* .signinbtn {
    display: flex;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #FFDA93;
    color: black;
    font-family: Karla;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
} */

.signinbtn {
    background-color: #FFDA93;
    align-items: center;
    color: black;
    font-family: Karla;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 20px;
    margin: 5px auto;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 0.3s;
    margin-left: 12.5rem;
    margin-top: 2rem;
}

.signinbtn:hover {
    background-color: black;
    color: #FFDA93;
}
